  /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   */

   html, body, div, span, applet, object, iframe,
   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
   a, abbr, acronym, address, big, cite, code,
   del, dfn, em, img, ins, kbd, q, s, samp,
   small, strike, strong, sub, sup, tt, var,
   b, u, i, center,
   dl, dt, dd, ol, ul, li,
   fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td,
   article, aside, canvas, details, embed, 
   figure, figcaption, footer, header, hgroup, 
   menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
   }
   /* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure, 
   footer, header, hgroup, menu, nav, section {
      display: block;
   }
   body {
      line-height: 1;
   }
   ol, ul {
      list-style: none;
   }
   blockquote, q {
      quotes: none;
   }
   blockquote:before, blockquote:after,
   q:before, q:after {
      content: '';
      content: none;
   }
   table {
      border-collapse: collapse;
      border-spacing: 0;
   }

   /* header */

   .header{
      background: rgba(0,0,0,0.6);
      position: fixed;
      z-index: 1000;
      left: 0;
      right: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
   }
   .header *{
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
   }
   .header__nav{
      margin-right: 30px;
   }
   .header__nav a{
     margin-top: 51px;
     margin-left: 52px;
     text-decoration: none;
     color: #ffffff;
     font-family: "Gentium Book Basic";
     font-size: 1.313em;
  }
  .header__nav a:hover{
     color: #dab33e;
  }
  .logo{
   margin-top: 2px;
   cursor: pointer;
}
.logo__link{
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.soc-networks{ 
   margin-top: 51px;
}
.soc-networks i{
   color: #dab33e;
   font-size: 1.313em;
   font-weight: 400;
   margin-right: 17px;
}
.soc-networks a{
   text-decoration: none;
}
.header__burger{
   display: none;
}
.nav__link{
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.promo__btn-link{
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@media (max-width: 1148px) {
   header{
      display: inline-block;
   }
   .header{
      padding: 0 20px;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
   }
   .header__burger{
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      display: inline-block;
      float: right;
      cursor: pointer;
      z-index: 3;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   }
   .header__burger span{
      position: absolute;
      background-color: #000;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
   }
   .header__burger:before,
   .header__burger:after{
      content: '';
      background-color: #000;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
   }
   .header__burger:before{
      top: 0;
   }
   .header__burger:after{
      bottom: 0;
   }
   .header__logo{
      float: left;
      margin-left: 20px;
      margin-top: 20px;
   }
   .nav__link{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-bottom: 30px;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   }
   .header__nav a{
      margin-left: 0;
   }
   .nav__link:first-child{
      padding-bottom: 0;
      border: none;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   }
   .header__nav{
      margin-bottom: 10px;
   }
   .header__nav{
      background: #666;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      text-align: center;
      -webkit-transform: translateY(-200%);
      -ms-transform: translateY(-200%);
      transform: translateY(-200%);
      -webkit-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s;
      border-bottom: 1px solid #4d4d4d;
      z-index: 2;
      display: block;
   }
   .header__nav.active{
      -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
      transform: translateY(0%);
   }
   .header__burger.active:before {
      top: 0;
      -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
      transform: rotate(-40deg);
   }
   .header__burger.active span{
      top: 0;
      -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
      transform: rotate(-40deg);
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
   }
   .header__burger.active:after {
      bottom: 0;
      -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
      transform: rotate(40deg);
   }

   .header__burger.active:before,
   .header__burger.active:after {
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
   }
   .soc-networks{
      display: none;
   }
}


/* Promo */

.promo{
  background-image: url(img/sec-1/sec-1-bg.png);
  background-size: cover;
}
.promo__title,
.promo__dec,
.promo__btn{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
}
.promo__dec{
   margin: 0 auto;
   padding: 34px 0; 
}
.promo__title{
  text-align: center;
  margin: 0 auto;
  padding-top: 239px;
}
.promo_title{
  opacity: 0.92;
  text-shadow: 1px 1px 2px rgba(1, 1, 1, 0.64);
  color: #ffffff;
  font-family: "Yeseva One";
  font-size: 5.625em;
  font-weight: 400;
}
.promo__btn{
   margin: 0 auto;
}
.promo__btn-1{
  width: 228px;
  height: 57px;
  border: 1px solid rgba(0,0,0,0.7);
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 1.125em;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 30px;
  margin-bottom: 30px;
}
.promo__btn-2{
  width: 228px;
  height: 57px;
  border: 1px solid rgba(255,255,255,0.7);
  background-color: rgba(255,255,255,0.3);
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 1.125em;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 30px;
}
.promo__btn-1:focus{
   outline:none;
   border: 1px solid rgba(0,0,0,0.7);
} 
.promo__btn-2:focus{
   outline:none;
   border: 1px solid rgba(255,255,255,0.7);
}
@media (max-width: 767px){
   .promo_title{
      font-size: 3em;
   }
   .promo__btn{
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-left: 0;
   }
   .promo__btn-1{
      margin-right: 0;
   }
}


/* About */

.about{
  background-image: url(img/sec-2/background.png);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.about__content{
   margin-top: 106px;
   margin-left: 69px;
   text-align: center;
}

.about__title{
  color: #cc9900;
  font-family: "Yeseva One";
  font-size: 2.250em;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 15px;
}
.about__dec{
   margin-bottom: 32px;
}
.about_text{
  text-align: center;
  margin-bottom: 52px;
}
.about__text{
  color: #4c4c4c;
  font-family: Lato;
  font-size: 1em;
  font-weight: 400;
  line-height: 24px;
}
.about__dish{
   float: right;
   margin-left: 36px;
   margin-top: 55px;
}
@media (max-width: 1140px){
   .about{
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
   }
   .about__title{
      line-height: 40px;
   }
   .about__content,
   .about__dish{
      margin-left: 0;
      width: 300px;
   }
}


/* Ingredients */

.ingredients{
  background-image: url(img/sec-3/bg.png);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.ingredients__content{
   text-align: center;
   margin-top: 100px;
   margin-right: 217px;
   background-image: url(img/sec-3/text-bg.png);
   background-size: cover;
   padding: 83px 10px 64px 11px;
   margin-bottom: 100px;
   width: 440px;
}
.ingredients__title{
  color: #ffffff;
  font-family: "Yeseva One";
  font-size: 2.250em;
  font-weight: 400;
  margin-bottom: 16px;
}
.ingredients__dec{
  margin-bottom: 30px;
}
.ingredients_text{
  text-align: center;
  margin-bottom: 60px;
}
.ingredients__text{
  color: #fff;
  font-family: "Lato";
  font-size: 1em;
  font-weight: 400;
  line-height: 24px;
}
.ingredients__imgs{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 920px){
   .ingredients{
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: end;
     -ms-flex-pack: end;
     justify-content: center;
  }
  .ingredients__content{
   margin-right: 0;
   width: 100%;
}
.ingredients__title{
   font-size: 1.5em;
}
.ingredients__text{
  font-size: 1em;
  margin-left: 5px;
}
.ingredients__content{
   padding-left: 0;
   padding-right: 0;
}
.ingredients__img{
   width: 100px;
}
}


/* Menu */

.menu{
  background-image: url(img/sec-4/background.png);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 50px;
}
.menu__content-text{
   text-align: center;
   margin-top: 70px;
}
.menu__title{
  color: #cc9900; 
  font-family: "Yeseva One";
  font-size: 2.250em;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 16px;
}
@media (max-width: 1118px){
   .menu{
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
   }
   .menu-1,
   .menu-2,
   .menu-3,
   .menu-4{
      margin: 20px;
   }
}


/* Table */

.row-title{
  color: #c89f2d;
  font-family: "Yeseva One";
  font-size: 1.313em;
  border-bottom: 1px solid #c89f2d;
}
.row-subtitle{
  font-family: "Lato";
  font-weight: 400;
}
tbody td{
  padding-top: 15px;
  padding-bottom: 9px;
}
table{
   line-height: 24px;
}

/* Reviews */

.reviews{
  background-image: url(img/sec-5/bg.png);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.reviews__content{
   background-image: url(img/sec-5/bg-text.png);
   text-align: center;
   margin-top: 100px;
   display: block;
   margin-bottom: 100px;
}
.reviews__title{
  color: #ffffff;
  font-family: "Yeseva One";
  font-size: 2.250em;
  font-weight: 400;
  padding-top: 82px;
}
.reviews__dec{
   opacity: 0.9;
   padding-top: 23px;
}
.reviews_text{
  text-align: center;
  padding-top: 30px;
}
.reviews__text{
  color: #dde0df;
  font-family: "Gentium Book Basic";
  font-size: 1.563em;
  font-weight: 700;
  line-height: 45px;
  opacity: 0.9;
}
.reviews__text__last-line{
  color: #ffffff;
  font-family: 'Lato';
  font-size: 1.125em;
  font-weight: 400;
  line-height: 45px;
  opacity: 0.9;
  padding-top: 23px;
}
@media (max-width: 686px){
   .reviews__text{
      font-size: 1em;
   }
}


/* Reservations */

.reservations{
   background-image: url(img/sec-6/background.png);
   background-size: cover;
   padding: 130px 0;
}
.reservations__cont{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-pack: distribute;
   justify-content: space-around;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;

}
.reservations__images{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;

}
/*.reservations__block{*/
   .reservations__desc{
      text-align: center;
   }
   .reservations__title{
      color: #cc9900;
      font-family: "Yeseva One";
      font-size: 2.250em;
      font-weight: 400;
      line-height: 36px;
      padding-bottom: 15px;
   }
   .reservations__img-2{
      margin: 0 60px;
   }
   .reservations__dec{
      padding-bottom: 32px;
   }
   .reservations__text{
      color: #4c4c4c;
      font-family: Lato;
      font-size: 1em;
      font-weight: 400;
      line-height: 24px;
   }
   .reservations__form_block{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
   }
   .reservations__form{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
   }
   input,
   label,
   select{
      display: block;
   }
   label{
      color: #c9a131;
      font-family: "Open Sans";
      font-size: 0.875em;
      font-weight: 700;
      line-height: 30px;
   }
   input{
      max-width: 200px;
      max-height: 36px;
      margin-bottom: 29px;
      margin-right: 30px;
   }
   input[type="text"],
   input[type="email"],
   select{
      color: #7c7c7c;
      font-family: "Open Sans";
      font-size: 1em;
      font-style: italic;
      padding: 7px 2px 7px 14px;
   }
   select{
      width: 178px;
      height: 34px;
   }
   .reservations__form-input{
      margin-right: 30px;
   }
   input[type="text"]:focus,
   input[type="email"]:focus,
   input[type="date"]:focus,
   select:focus{
      outline: 0;
      border: 1px solid #c89f2d;
   }
   input[type="date"]:focus{
      width: 184px;
      height: 22px;
      padding: 7px 2px 7px 14px;
   }
   .button{
      text-align: center;
   }
   .reservations__form__btn{
      margin-top: 33px;
      color: #ffffff;
      font-family: "Open Sans";
      font-size: 1em;
      font-weight: 400;
      border: 1px solid #c89f2d;
      background-color: #c89f2d;  
      width: 200px;
      height: 36px;
      cursor: pointer;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   }
   .reservations__form__btn:focus{
      outline:none;
   }
   @media (max-width: 1196px){
      .reservations__cont{
         -webkit-box-orient: vertical;
         -webkit-box-direction: normal;
         -ms-flex-direction: column;
         flex-direction: column;
      }
      .reservations__img-2{
         margin-left: 60px;
         margin-right: 0;
      }
      .reservations__images{
         margin-bottom: 60px;
      }
   }
   @media (max-width: 690px){
      .reservations__images{
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-orient: vertical;
         -webkit-box-direction: normal;
         -ms-flex-direction: column;
         flex-direction: column;
         -webkit-box-align: center;
         -ms-flex-align: center;
         align-items: center;
         -webkit-box-pack: center;
         -ms-flex-pack: center;
         justify-content: center;
      }
      .reservations__img-2{
        margin-left: 0;
        margin-top: 60px;
     }
     .reservations__block{
      width: 100%;
   }
}
@media(max-width: 425px){
   .reservations__form_block{
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
   }
   .reservations__form-input{
      margin-right: 0;
   }
}


/* Footer */

.footer {
   background-color: #191919;
   background-size: cover;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-pack: distribute;
   justify-content: space-around;
   -ms-flex-wrap: wrap;
       flex-wrap: wrap;
       padding-bottom: 50px;
}
.footer__block{
   margin: 61px 40px 0 40px;
   text-align: center;
}
.footer__block__title{
   color: #fefefe;
   font-family: "Yeseva One";
   font-size: 1.313em;
   font-weight: 400;
   line-height: 24px;
   margin-bottom: 21px;
}
.footer__block__img{
   margin-bottom: 23px;
}
.footer__block__text{
   color: #ffffff;
   font-family: "Open Sans";
   font-size: 1em;
   font-weight: 400;
   line-height: 24px;
}
.footer__block-3__text{
   font-weight: 700;
}
.footer__block-3__soc,
.footer__block-2__cards{
   color: #fff;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.footer__block-3__soc{
   margin-top: 56px;
}
.footer__block-2__cards{
   margin-top: 53px;
}
.footer__block-3__soc i,
.footer__block-2__cards i{
   margin-left: 11px; 
   cursor: pointer;
}
.footer__block-2,
.footer__block-3{
   margin-left: 30px;
}
@media (max-width: 536px){
   .footer__block-1{
   margin: 61px 30px 0 30px;
   text-align: center;
}
}